USE [master]
GO
/****** Object:  Database [CourierManagementSystem_DB]    Script Date: 2023-06-13 2:47:29 PM ******/
CREATE DATABASE [CourierManagementSystem_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CourierManagementSystem_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CourierManagementSystem_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CourierManagementSystem_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CourierManagementSystem_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourierManagementSystem_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourierManagementSystem_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Couriers]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Couriers](
	[ConsignmentNo] [int] IDENTITY(1,1) NOT NULL,
	[ParcelType] [nvarchar](max) NULL,
	[Weight] [int] NOT NULL,
	[ShippingCost] [int] NOT NULL,
	[PlacingDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NULL,
	[CurrentLocation] [nvarchar](max) NULL,
	[FromLocation] [nvarchar](max) NULL,
	[Destination] [nvarchar](max) NULL,
	[ETA] [int] NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Couriers] PRIMARY KEY CLUSTERED 
(
	[ConsignmentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInfoes]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInfoes](
	[ConsignmentNo] [int] NOT NULL,
	[SenderName] [nvarchar](max) NULL,
	[SenderMobile] [nvarchar](max) NULL,
	[SenderAddress] [nvarchar](max) NULL,
	[ReceiverName] [nvarchar](max) NULL,
	[ReceiverMobile] [nvarchar](max) NULL,
	[ReceiverAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomerInfoes] PRIMARY KEY CLUSTERED 
(
	[ConsignmentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TKey] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiredAt] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Tokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023-06-13 2:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[UserType] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Mobile], [Email], [Username]) VALUES (6, N'Admin_1', N'01112341', N'admin1@gmail.com', N'admin1')
INSERT [dbo].[Admins] ([Id], [Name], [Mobile], [Email], [Username]) VALUES (7, N'Admin_2', N'01113452', N'admin2@gmail.com', N'admin2')
INSERT [dbo].[Admins] ([Id], [Name], [Mobile], [Email], [Username]) VALUES (8, N'Admin_3', N'01114563', N'admin3@gmail.com', N'admin3')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Couriers] ON 

INSERT [dbo].[Couriers] ([ConsignmentNo], [ParcelType], [Weight], [ShippingCost], [PlacingDate], [DeliveryDate], [CurrentLocation], [FromLocation], [Destination], [ETA], [Status]) VALUES (1, N'type_1', 415, 215, CAST(N'2023-06-10T03:13:43.940' AS DateTime), NULL, N'location_1', N'location_2', N'destination_1', 3, N'Processing')
INSERT [dbo].[Couriers] ([ConsignmentNo], [ParcelType], [Weight], [ShippingCost], [PlacingDate], [DeliveryDate], [CurrentLocation], [FromLocation], [Destination], [ETA], [Status]) VALUES (2, N'type_2', 1076, 2438, CAST(N'2023-06-10T03:13:44.140' AS DateTime), NULL, N'location_1', N'location_1', N'destination_2', 2, N'On the way')
INSERT [dbo].[Couriers] ([ConsignmentNo], [ParcelType], [Weight], [ShippingCost], [PlacingDate], [DeliveryDate], [CurrentLocation], [FromLocation], [Destination], [ETA], [Status]) VALUES (3, N'type_1', 958, 1464, CAST(N'2023-06-11T03:13:44.140' AS DateTime), NULL, N'location_1', N'location_2', N'destination_2', 4, N'On the way')
GO
SET IDENTITY_INSERT [dbo].[Couriers] OFF
GO
INSERT [dbo].[CustomerInfoes] ([ConsignmentNo], [SenderName], [SenderMobile], [SenderAddress], [ReceiverName], [ReceiverMobile], [ReceiverAddress]) VALUES (1, N'sndName_1', N'0112341', N'sndAdd_1', N'rcvName_1', N'0122341', N'rcvAdd_1')
INSERT [dbo].[CustomerInfoes] ([ConsignmentNo], [SenderName], [SenderMobile], [SenderAddress], [ReceiverName], [ReceiverMobile], [ReceiverAddress]) VALUES (2, N'sndName_2', N'0113452', N'sndAdd_2', N'rcvName_2', N'0123452', N'rcvAdd_2')
INSERT [dbo].[CustomerInfoes] ([ConsignmentNo], [SenderName], [SenderMobile], [SenderAddress], [ReceiverName], [ReceiverMobile], [ReceiverAddress]) VALUES (3, N'sndName_3', N'0114563', N'sndAdd_3', N'rcvName_3', N'0124563', N'rcvAdd_3')
GO
SET IDENTITY_INSERT [dbo].[Tokens] ON 

INSERT [dbo].[Tokens] ([Id], [TKey], [CreatedAt], [ExpiredAt], [CreatedBy]) VALUES (1, N'1cfb3c1d-d796-4be3-a46c-2c74e07a10aa', CAST(N'2023-06-13T08:00:43.717' AS DateTime), CAST(N'2023-06-13T14:24:01.707' AS DateTime), N'admin1')
INSERT [dbo].[Tokens] ([Id], [TKey], [CreatedAt], [ExpiredAt], [CreatedBy]) VALUES (2, N'095bd6be-eb67-419d-b25d-27f24c942205', CAST(N'2023-06-13T14:24:38.510' AS DateTime), NULL, N'admin2')
SET IDENTITY_INSERT [dbo].[Tokens] OFF
GO
INSERT [dbo].[Users] ([Username], [Password], [UserType]) VALUES (N'admin1', N'1234', N'Admin')
INSERT [dbo].[Users] ([Username], [Password], [UserType]) VALUES (N'admin2', N'1234', N'Admin')
INSERT [dbo].[Users] ([Username], [Password], [UserType]) VALUES (N'admin3', N'1234', N'Admin')
GO
/****** Object:  Index [IX_ConsignmentNo]    Script Date: 2023-06-13 2:47:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConsignmentNo] ON [dbo].[CustomerInfoes]
(
	[ConsignmentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerInfoes_dbo.Couriers_ConsignmentNo] FOREIGN KEY([ConsignmentNo])
REFERENCES [dbo].[Couriers] ([ConsignmentNo])
GO
ALTER TABLE [dbo].[CustomerInfoes] CHECK CONSTRAINT [FK_dbo.CustomerInfoes_dbo.Couriers_ConsignmentNo]
GO
USE [master]
GO
